* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif;
}

a {
    text-decoration: none;
    color: rgba(10, 149, 218, 1.0)
}

a:hover {
    font-size: 150%;
}

li {
    list-style-type: none;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 10%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 10rem;
}

.image {
    display: grid;
    grid-column: 1/2;
    justify-content: start;
    align-items: center;
}

.logo {
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.menu {
    grid-column: 3/4;
}

.menu ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-register {
    grid-column: 4/6;
}

.login-register ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

